.desktop-hoy {

    .titulo {
        display: flex;
        align-items: center;

        h2 {
            color: black;
            font-size: var(--font-titulo-size);
            font-weight: bolder;
        }
    }

    .agregar-tareas {
        display: flex;
        align-items: center;
        margin: 12px 0 6px 0;

        .icons {
            display: flex;

            .icon {
                color: var(--color-principal);
                font-size: var(--size-iconos-chicos);
                border-radius: 50%;
                cursor: pointer;
            }

            p {
                color: var(--font-color-secundario);
                font-size: var(--font-size-principal);
                margin: 0 0 0 4px;
                cursor: pointer;
            }

            &:hover {

                .icon {
                    background-color: var(--color-principal);
                    color: white;
                    transition: 0.2s;
                }

                p {
                    color: var(--color-principal);
                    transition: 0.2s;
                }
            }
        }
    }
}